textarea {
  font-family: monospace;
  font-size: small;
  white-space: pre;
}

.ace_container {
  position: relative;
  height: 500px;
}

.ace_editor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
